
.display-block{
	display:block;
}
.display-inline-block{
	display:inline-block;
}

.width-100{
	width:100%;
}
.width-75{
	width:75%;
}
.width-70{
	width:70%;
}
.width-65{
	width:65%;
}
.width-50{
	width:50%;
}
.width-25{
	width:25%;
}
.width-20{
	width:20%;
}
.width-15{
	width:15%;
}
.width-20em{
	width:20em;
}
.width-15em{
	width:15em;
}
.width-10em{
	width:10em;
}
.width-auto{
	width:auto;
}

.height-auto{
	height:auto;
}

.margin-auto{
	margin:auto;
}
.margin-25{
	margin:25%;
}
.margin-1em{
	margin:1em;
}

.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.text-vertical-center{
	margin-top:auto;
	margin-bottom:auto;
	vertical-align: middle;
}
.padding-1em{
	padding:1em;
}



.dollar-sign{
	position:relative;
	margin-right:-20px;
}
input[type='number']{
	display:inline-block;
	padding-left:20px;
	text-align:left;
}
.btn:focus,.btn:active{
	outline:none!important;
}

.bg-scarlet{
	background:#cc0033; /*red scarlet*/
}

body{
	padding-top:0px;
}


#nav-logo{
	display:inline-block;
	width:18%;
	text-align:left;
	vertical-align:middle;
	padding:1%;
}
#nav-logo img{
	width:100%;
}
#nav-text{
	display:inline-block;
	color:white;
	text-align:center;
	vertical-align:middle;
	margin-right:20%;
}

#order-summary{
	margin-bottom:2em;
}
#order-summary div h4{
	padding-right:1em;
}
#collapse-group-info .has-error{
	background:#ffaaaa;
}
.items-list-line.has-error{
	background:#ffaaaa;
}
.items-list-line.has-success{
	background:#aaffaa;
}