@font-face {
    font-family: Calibri;
}
*{
	font-size:12px;
	line-height:1.1;
}
h2{
	font-size:14px;
	line-height:1.2;
	margin-top:1em;
	margin-bottom:1em;
}

.display-block{
	display:block;
}
.display-inline-block{
	display:inline-block;
}

.width-75{
	width:75%;
}
.width-70{
	width:70%;
}
.width-65{
	width:65%;
}
.width-50{
	width:50%;
}
.width-25{
	width:25%;
}
.width-15{
	width:15%;
}
.width-20em{
	width:20em;
}
.width-15em{
	width:15em;
}
.width-10em{
	width:10em;
}
.width-auto{
	width:auto;
}

.height-auto{
	height:auto;
}

.margin-auto{
	margin:auto;
}
.margin-25{
	margin:25%;
}
.margin-1em{
	margin:1em;
}

.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.text-vertical-center{
	margin-top:auto;
	margin-bottom:auto;
	vertical-align: middle;
}


/*.dollar-sign{
	position:relative;
	margin-right:-20px;
}
input[type='number']{
	display:inline-block;
	padding-left:20px;
	text-align:left;
}*/
.btn:focus,.btn:active{
	outline:none!important;
}

.bg-scarlet{
	background:#cc0033; /*red scarlet*/
}

body{
	padding-top:0px;
	padding-bottom:0px;
	overflow:hidden;
	
}

hr{
	margin-top:0.2em;
	margin-bottom:0.2em;
}
input[type='number']{
	margin:0;
	padding:4px;
	text-align:right;
}
.item-description{
	vertical-align: middle;
    width: 150px;
    display: block;
    overflow-x: hidden;
}
#form-list{
	overflow-y:auto;
	max-height:40em;
}
#table-list{

}
#list-buttons{
	padding-top:1em;
	padding-bottom:1em;
}
#container-settings{
	max-height:35em;
	overflow-y:auto;
	overflow-x:hidden;
	padding-top:1em;
}
#settings-buttons{
	padding-top:1em;
	padding-bottom:1em;
}
#settings-buttons-first-time{
	padding-top:1em;
	padding-bottom:1em;
}
#done{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0033+0,aa0011+100 */
	background: #cc0033; /* Old browsers */
	background: -moz-linear-gradient(top,  #cc0033 0%, #aa0011 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #cc0033 0%,#aa0011 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #cc0033 0%,#aa0011 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0033', endColorstr='#aa0011',GradientType=0 ); /* IE6-9 */
	color:white;
	border: 1px solid #aa0011;
}
#done:hover{
	background:#ff0055;
}
#done:active{
	background:#aa0011;
}

#popup-notifications-container{
	display:block;
	min-width:400px;
}
#popup-settings-container{
	display:block;
	min-width:400px;
}
#popup-list-container{
	display:block;
	min-width:400px;
}

#added-item-container{
	padding:1em;
}
#notification-buttons{
	padding-top:1em;
	padding-bottom:1em;
}